.main-heading-container {
  text-align: center;
  box-shadow: 0 1px 3px #000000;
  background-color: #eeeeee;
}

.main-heading {
  margin: 1rem auto;
}

.neglect-default-spacing {
  margin: 0;
}

.filters-container {
  gap: .5rem;
  display: flex;
  margin: 16px 16px 0 16px;
  justify-content: space-between;

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.view-task-search-text-cancel-btn {
  height: 0.8em !important;
}

.sort-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  cursor: pointer;
  width: 50%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  @media (max-width: 599px) {
    width: 100%;
    padding: 8px 0;
  }
}

.task-details-main-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 24px 16px;
}

.task-details-full {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: #eeeeee;
  padding: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.task-detail-container-first {
  width: 65%;

  @media (max-width: 599px) {
    width: 100%;
  }
}

.task-detail-container-second {
  width: 20%;
  display: flex;
  flex-direction: column;

  @media (max-width: 599px) {
    width: 100%;
  }
}

.task-detail-container-third {
  width: 15%;
  display: flex;
  justify-content: center;

  @media (max-width: 599px) {
    width: 100%;
    justify-content: start;
  }
}

.task-detail-container-third-icon-btn {
  @media (max-width: 599px) {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
}

.empty-list-container {
  border: 1px solid;
  padding: 24px 16px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #eeeeee;
}
